ul.posts {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.posts h1 {
	margin: 0px;
	padding: 0px;
}

ul.posts a {
	text-decoration: none;
	color: #34495e;
}

ul.posts a:hover {
	text-decoration: underline;
}

ul.posts .meta {
	margin-left: 1em;
}

#pagination {
	display: block;
	text-align: center;
}

#pagination {
	font-size: 0.9em;
}

#pagination div {
	margin: 0px;
	padding: 0px;
	line-height: 1em;
}

#pagination a {
	text-decoration: none;
	color: #34495e;
}

#pagination a:hover {
	text-decoration: underline;
}


#pagination ul.pages {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
}

#pagination ul.pages li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#pagination ul.pages li.current {
	background-color: #CCC;
	font-weight: bold;
}

ul.categories {
	list-style-type: none;
}

ul.categories a {
	text-decoration: none;
	color: #34495e;
}

ul.categories a:hover {
	text-decoration: underline;
}