{{define "content"}}
<h1>Categories</h1>
<ul class="categories">
	<li><a href="#">Category 1 (1)</a></li>
	<li><a href="#">Category 1 (1)</a></li>
	<li><a href="#">Category 1 (1)</a></li>
	<li><a href="#">Category 1 (1)</a></li>
	<li><a href="#">Category 1 (1)</a></li>
	<li><a href="#">Category 1 (1)</a></li>
	<li><a href="#">Category 1 (1)</a></li>
</ul>
{{end}}