<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tyler Marrs - A software engineer with a biomedical focus.">

    <title>Blog.TylerMarrs.com{{if .title}} - {{.title}}{{end}}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/marketing.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="/static/css/posts.css">
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-responsive">      
      <a class="pure-menu-heading" href="/">Blog.TylerMarrs.com</a>
      <ul class="pure-menu-list">
        {{if .admin}}
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" class="pure-menu-link">Admin</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item"><a href="/newpost" class="pure-menu-link">New Post</a></li>
            <li class="pure-menu-item"><a href="/unpublished" class="pure-menu-link">Unpublished</a></li>            
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
        {{end}}
        <li class="pure-menu-item"><a href="/search" class="pure-menu-link">Search</a></li>
        <li class="pure-menu-item"><a href="/categories" class="pure-menu-link">Categories</a></li>        
        <li class="pure-menu-item"><a href="/rss" class="pure-menu-link">RSS</a></li>
      </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
      {{template "content" .}}
    </div>

    <div class="footer l-box is-center">
        &copy; Blog.TylerMarrs.com <span id="copy-year"></span><br />
        <!-- Begin W3Counter Tracking Code -->
        <script type="text/javascript" src="https://www.w3counter.com/tracker.js"></script>
        <script type="text/javascript">
        w3counter(96566);
        </script>
        <noscript>
        <div><a href="http://www.w3counter.com"><img src="https://www.w3counter.com/tracker.php?id=96566" style="border: 0" alt="W3Counter" /></a></div>
        </noscript>
        <!-- End W3Counter Tracking Code -->
    </div>
</div>

<script type="text/javascript">
  // simply set the copyright year
  window.onload = function() {
    document.getElementById("copy-year").innerHTML = new Date().getFullYear();
  }
</script>
</body>
</html>