{{define "content"}}
<h1>New Post</h1>
<form class="pure-form pure-form-stacked">
<textarea id="editor"></textarea>
<label for="tags">Tags</label>
<input id="tags" type="text" placeholder="Tags">
<label for="publish">Publish?</label>
<select id="publish" name="publish">
    <option value="yes">Yes</option>
    <option value="no">No</option>
</select>
<div style="text-align:center;">
  <button type="submit" class="pure-button pure-button-primary">Save</button>
</div>
</form>
<script src="/static/vendor/ckeditor/4.5.8/ckeditor.js"></script>
<script src="/static/js/initckeditor.js"></script>
<script type="text/javascript">initCKEditor();</script>
{{end}}